<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
      <meta charset="UTF-8">
      <title>CRM - Customer Relationship Manager</title>
      <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.1.0/css/bootstrap.min.css} "/>
  </head>

  <body>
    <h2>CRM - Customer Relationship Manager</h2>

    <button type="button" class="btn btn-outline-secondary">
        <a th:href="@{/showFormToAddNewCustomer}">Add Customer</a>
    </button>

    <table class="table">

        <tr >
            <th  scope="col">First name</th>
            <th scope="col">Last name</th>
            <th scope="col">Email</th>
            <th scope="col">Action</th>
        </tr>

        <tr th:each="viewListOfCustomers : ${viewCustomerHomePage}">

            <td th:text="${viewListOfCustomers.firstName}"> </td>
            <td th:text="${viewListOfCustomers.lastName}"> </td>
            <td th:text="${viewListOfCustomers.email}"> </td>
            <td>
                <!-- when clicking this link
                    * the id of the record will be attached to the record  = (id=${viewListOfCustomers.id})
                    * the button will go to the url = /mappingDeleteCustomer which is mapped on the controller-->
                <button type="button" class="btn btn-outline-secondary">
                    <a th:href="@{/mappingDeleteCustomer (id=${viewListOfCustomers.id})}">Delete</a>
                </button>

                <!-- when clicking this link
                    * the id of the record will be attached to the record  = (id=${viewListOfCustomers.id})
                    * the button will go to the url = /update.html
                    * binds the id to the request = /update.html/{id}  -->
                <button type="button" class="btn btn-outline-secondary">
                    <a th:href="@{/showCustomerToUpdate/{id} (id=${viewListOfCustomers.id})}">Update</a>
                </button>
            </td>

        </tr>

    </table>

  </body>
</html>